@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@media (max-width: 767px){
	*{
        font-size: 8px;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    *{
        font-size: 9px;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    *{
        font-size: 10px;
    }
}

@media (min-width: 426px) and (max-width: 500px) {
    *{
        font-size: 11px;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    *{
        font-size: 12px;
    }
}
@media (min-width: 769px) {
    *{
        font-size: 14px;
    }
    body{
        max-width: 769px;
        margin-left: auto;
        margin-right: auto;
        background: #F0F0F0;
    }
}